<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!--    JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .tasks{
            text-align: left;
        }
    </style>

</head>
<body>
<div>
    <a class="btn btn-outline-secondary" th:href="@{'/team/mainPage'}" role="button">&laquo; Previous</a>
</div>
<div class="tasks">

    <a class="btn btn-primary" th:href="@{'/team/list'}" role="button">Show teams</a>
    <!--Find team by Name -->
    <a class="btn btn-primary" padding="40px" data-toggle="collapse" href="#collapseExampleForm1" role="button" aria-expanded="false" aria-controls="collapseExample">
        Find team by name
    </a>
    <div class="collapse" id="collapseExampleForm1">
        <br/>
        <form method="post" th:action="@{/team/name}">
            <p><label for="name">Team name </label></p>
            <p><input type="text" name="name" id="name"></p>
            <br/>
            <input type="submit" value="Search">
        </form>
    </div>
    <!-- find Team by Country -->
    <a class="btn btn-primary" padding="40px" data-toggle="collapse" href="#collapseExampleForm2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Find team by country
    </a>
    <div class="collapse" id="collapseExampleForm2">
        <br/>
        <form method="post" th:action="@{/team/country}">
            <p><label for="country">Team country </label></p>
            <p><input type="text" name="country" id="country"></p>
            <br/>
            <input type="submit" value="Search">
        </form>
        <br/>
    </div>
    <!--Find by name and Country-->
    <a class="btn btn-primary" padding="40px" data-toggle="collapse" href="#collapseExampleForm3" role="button" aria-expanded="false" aria-controls="collapseExample">
        Find team by name and country
    </a>
    <div class="collapse" id="collapseExampleForm3">
        <br/>
        <form method="post" th:action="@{/team/name_country}">
            <p><label for="name">Team name </label></p>
            <p><input type="text" name="name" id="name2"></p>
            <br/>
            <p><label for="country">Team country </label></p>
            <p><input type="text" name="country" id="country2"></p>
            <br/>
            <input type="submit" value="Search">
        </form>
    </div>
    <!--Add team-->
    <a class="btn btn-primary" padding="40px" data-toggle="collapse" href="#collapseExampleForm4" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add team
    </a>
    <div class="collapse" id="collapseExampleForm4">
        <br/>
        <form method="post" th:action="@{/team/add}">
            <p><label for="name">Team name </label></p>
            <p><input type="text" name="name" id="name4"></p>
            <br/>
            <p><label for="country">Team country </label></p>
            <p><input type="text" name="country" id="country4"></p>
            <br/>
            <p><label for="town">Team town </label></p>
            <p><input type="text" name="town" id="town"></p>
            <br/>
            <p><label for="balance">Team balance </label></p>
            <p><input type="text" name="balance" id="balance"></p>
            <br/>
            <input type="submit" value="Add team">
        </form>
    </div>

</div>

</body>
</html>