<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!--    JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        .tasks{
            text-align: left;
        }
    </style>

</head>
<body>
<div>
    <a class="btn btn-outline-secondary" th:href="@{'/transfer/mainPage'}" role="button">&laquo; Previous</a>
</div>
<div class="tasks">
    <a class="btn btn-primary" th:href="@{'/transfer/list'}" role="button">Show transfers</a>
<!--                Do transfer                 -->
    <a class="btn btn-primary" padding="40px" data-toggle="collapse" href="#collapseTransferForm1" role="button" aria-expanded="false" aria-controls="collapseExample">
        Do transfer
    </a>
    <div class="collapse" id="collapseTransferForm1">
        <br/>
        <form method="post" th:action="@{/transfer/doTransfer}">
            <p><label for="first_name">Player first name </label></p>
            <p><input type="text" name="first_name" id="first_name"></p>
            <br/>
            <p><label for="last_name">Player last name </label></p>
            <p><input type="text" name="last_name" id="last_name"></p>
            <br/>
            <p><label for="commission">Set commission % </label></p>
            <p><input type="number" name="commission" id="commission" min="1" max="10"></p>
            <br/>
            <p><label for="team_To">Team To</label></p>
            <p><input type="text" name="team_To" id="team_To"></p>
            <br/>
            <p><label for="transfer_date">Transfer date</label></p>
            <p><input type="date" name="transfer_date" id="transfer_date"></p>
            <br/>
            <input type="submit" value="Do transfer">
        </form>
    </div>
</div>
</body>
</html>